<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>acctHelper</display-name>
    <servlet-name>acctHelper</servlet-name>
    <servlet-class>Mgmt.helper.acctHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acctHelper</servlet-name>
    <url-pattern>/acctHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayProductHelper</display-name>
    <servlet-name>displayProductHelper</servlet-name>
    <servlet-class>Mgmt.helper.displayProductHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayProductHelper</servlet-name>
    <url-pattern>/displayProductHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accountHelper</display-name>
    <servlet-name>accountHelper</servlet-name>
    <servlet-class>Mgmt.helper.accountHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountHelper</servlet-name>
    <url-pattern>/accountHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userHelper</display-name>
    <servlet-name>userHelper</servlet-name>
    <servlet-class>Mgmt.helper.userHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userHelper</servlet-name>
    <url-pattern>/userHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accHelper</display-name>
    <servlet-name>accHelper</servlet-name>
    <servlet-class>Mgmt.helper.accHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accHelper</servlet-name>
    <url-pattern>/accHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qtyHelper</display-name>
    <servlet-name>qtyHelper</servlet-name>
    <servlet-class>Mgmt.helper.qtyHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qtyHelper</servlet-name>
    <url-pattern>/qtyHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ratingHelper</display-name>
    <servlet-name>ratingHelper</servlet-name>
    <servlet-class>Mgmt.helper.ratingHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ratingHelper</servlet-name>
    <url-pattern>/ratingHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browseHelper</display-name>
    <servlet-name>browseHelper</servlet-name>
    <servlet-class>Mgmt.helper.browseHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browseHelper</servlet-name>
    <url-pattern>/browseHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createGameHelper</display-name>
    <servlet-name>createGameHelper</servlet-name>
    <servlet-class>Mgmt.helper.createGameHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createGameHelper</servlet-name>
    <url-pattern>/createGameHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browseHelper2</display-name>
    <servlet-name>browseHelper2</servlet-name>
    <servlet-class>Mgmt.helper.browseHelper2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browseHelper2</servlet-name>
    <url-pattern>/browseHelper2</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         /Users/Sean/Documents/School/CSS490/dev_home/workspace/Final/WebContent/images
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>deleteGameHelper</display-name>
    <servlet-name>deleteGameHelper</servlet-name>
    <servlet-class>Mgmt.helper.deleteGameHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteGameHelper</servlet-name>
    <url-pattern>/deleteGameHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browseHelper3</display-name>
    <servlet-name>browseHelper3</servlet-name>
    <servlet-class>Mgmt.helper.browseHelper3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browseHelper3</servlet-name>
    <url-pattern>/browseHelper3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginHelper</display-name>
    <servlet-name>loginHelper</servlet-name>
    <servlet-class>Mgmt.helper.loginHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginHelper</servlet-name>
    <url-pattern>/loginHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkLogin</display-name>
    <servlet-name>checkLogin</servlet-name>
    <servlet-class>Mgmt.helper.checkLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogin</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>browseHelper1</display-name>
    <servlet-name>browseHelper1</servlet-name>
    <servlet-class>Mgmt.helper.browseHelper1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>browseHelper1</servlet-name>
    <url-pattern>/browseHelper1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserPurchase</display-name>
    <servlet-name>findUserPurchase</servlet-name>
    <servlet-class>Mgmt.helper.findUserPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserPurchase</servlet-name>
    <url-pattern>/findUserPurchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>revenueHelper</display-name>
    <servlet-name>revenueHelper</servlet-name>
    <servlet-class>Mgmt.helper.revenueHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revenueHelper</servlet-name>
    <url-pattern>/revenueHelper</url-pattern>
  </servlet-mapping>
</web-app>